@mixin button($bgc,$bghover,$color,$padding,$secondary-font,$hover-colo,){
  background:$bgc;
  color:$color;
  padding: $padding;
  border-radius: 10px;
  font-size:22px;
  width: 130px;
  height: 40px;
  transition: 0.3s;
  display: inline-block;
  font-family: $secondary-font;
  &:hover{
    background-color: $bghover;
    color:$hover-color
  }
  
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');




@mixin media-phone-only {
  @media (min-width: 300px) and (max-width: 480px) {
    @content;
  }
}
@mixin media-tablet-up {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}
@mixin media--tablet-landscape-up {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin media--desktop-up {
  @media (min-width: 1025px) and (max-width: 1200px) {
    @content;
  }
}
@mixin media-large-desktop-up {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin custom-media($min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}
