
$white:white;
$hover-red:red;
$hover-color:white;
$red:red;
$black:rgb(0, 0, 0);
$grey:grey;
$main-font:"dancing-script";
$secondary-font:"poppins",sans-serif;
$padding:10px;





$phone-breakpoint:576px;
$tablet-breakpoint:768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;
